<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music gallery</title>
    <link rel="icon" type="image/x-icon" href="https://assets.webiconspng.com/uploads/2017/02/Music-Player-Modern-Icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<!-- NAVIGATION -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Music gallery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/upload">Upload Images</a>
            <a class="nav-item nav-link disabled" href="#">Coming soon...</a>
        </div>
    </div>
</nav>
<!-- SLIDER -->
<div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-caption">
                <h3>Brent Faiyaz</h3>
                <p>Brent Faiyaz is an artist that has been generating buzz for all the right reasons his entire career. The majority of his success and fame has come from impressive features on other artists' work, and strong word of mouth by his more dedicated listeners. </p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <h3>Yeat</h3>
                <p>The inescapable Portland rapper continues to go beyond the usual rage rap expectations, bending his voice without ever making it feel gimmicky.</p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <h3>Young Thug</h3>
                <p>While Young Thug’s creative choices after about 2015 have had little sway over emerging trends, he suggests that the space he now occupies is one that allows him more room to experiment.</p>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carouselFade" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- TITLE -->
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Today's featured albums & artists</h1>
        <p class="lead text-muted">Here is the list of today's featured albums and artists that we recommend you give a listen!</p>
        <p>
            <a href="#featured-albums" class="btn btn-primary my-2">Featured albums</a>
            <a href="#featured-artists" class="btn btn-secondary my-2">Featured artists</a>
        </p>
    </div>
</section>
<!-- TODO FEATURED ALBUMS TITLE -->
<!-- FEATURED ALBUMS -->
<div id="featured-albums" class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="row featurette" style="margin-top: 75px">
        <div class="col-md-7">
            <h2 class="featurette-heading">Alfredo <span class="text-muted small"> by Freddie Gibbs</span></h2>
            <p class="lead">Alfredo is a collaborative studio album by American rapper Freddie Gibbs and American hip hop producer The Alchemist. It was released on May 29, 2020, through Gibbs' own record label ESGN Records, as well as ALC Records and Empire Distribution. It was nominated for Best Rap Album at the 2021 Grammy Awards.</p>
            <a target="_blank" href="https://open.spotify.com/album/3znl1qe13kyjQv7KcR685N?si=ijMaaTQITUCEGsr9jjp2Ig">Listen now!</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="" alt="500x500" style="width: 500px; height: 500px;" src="/img/freddie_gibbs_alfredo.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">AT.LONG.LAST.A$AP <span class="text-muted small"> by A$AP Rocky</span></h2>
            <p class="lead">At. Long. Last. ASAP (stylized as AT.LONG.LAST.A$AP) is the second studio album by American rapper ASAP Rocky. It was released on May 26, 2015, by ASAP Worldwide, Polo Grounds Music, and RCA Records. The record serves as a sequel from Rocky's previous studio effort Long. Live. ASAP (2013). The album's executive production was provided by Danger Mouse, mentor ASAP Yams and Rocky himself.</p>
            <a target="_blank" href="https://open.spotify.com/album/3arNdjotCvtiiLFfjKngMc?si=X-Wu3uBzQj-0Z_qZ2LvBsQ">Listen now!</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="" alt="500x500" src="/img/asap_rocky_alla.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">The House Is Burning <span class="text-muted small"> by Isaiah Rashad</span></h2>
            <p class="lead">The House Is Burning is the third studio album by American rapper Isaiah Rashad. It was released on July 30, 2021, by Top Dawg Entertainment and Warner Records. Guest appearances include frequent collaborators and labelmates Jay Rock and SZA, as well as Lil Uzi Vert, Duke Deuce, Smino, Amindi, 6lack, and others.</p>
            <a target="_blank" href="https://open.spotify.com/album/6TQ8nqw43uUOWu7Yqp58ko?si=FaUGEXgPT9OiqkeI3alm3g">Listen now!</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="" alt="500x500" src="/img/isaiahrashad_thib.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Die Lit <span class="text-muted small"> by Playboi Carti</span></h2>
            <p class="lead">Die Lit is the debut studio album by American rapper Playboi Carti. It was released on May 11, 2018, by AWGE Label and Interscope Records. The album features guest appearances from Skepta, Travis Scott, Lil Uzi Vert, Pi'erre Bourne, Nicki Minaj, Bryson Tiller, Chief Keef, Gunna, Red Coldhearted, Young Thug, and Young Nudy. The production on the album was mainly handled by Pi'erre Bourne, with assistance from Don Cannon and IndigoChildRick, among others.</p>
            <a target="_blank" href="https://open.spotify.com/album/7dAm8ShwJLFm9SaJ6Yc58O?si=bGFuhvO-T12TuwCPQ4ztzA">Listen now!</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="" alt="500x500" src="img/playboicarti_die_lit.webp" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>
</div>

<!-- TODO FEATURED ARTISTS TITLE -->

<!-- FEATURED ARTISTS -->
<div id="featured-artists" class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="row featurette" style="margin-top: 75px">
        <div class="col-md-7">
            <h2 class="featurette-heading">Alfredo <span class="text-muted small"> by Freddie Gibbs</span></h2>
            <p class="lead">Alfredo is a collaborative studio album by American rapper Freddie Gibbs and American hip hop producer The Alchemist. It was released on May 29, 2020, through Gibbs' own record label ESGN Records, as well as ALC Records and Empire Distribution. It was nominated for Best Rap Album at the 2021 Grammy Awards.</p>
            <a target="_blank" href="https://open.spotify.com/album/3znl1qe13kyjQv7KcR685N?si=ijMaaTQITUCEGsr9jjp2Ig">Listen now!</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="" alt="500x500" style="width: 500px; height: 500px;" src="/img/freddie_gibbs_alfredo.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">AT.LONG.LAST.A$AP <span class="text-muted small"> by A$AP Rocky</span></h2>
            <p class="lead">At. Long. Last. ASAP (stylized as AT.LONG.LAST.A$AP) is the second studio album by American rapper ASAP Rocky. It was released on May 26, 2015, by ASAP Worldwide, Polo Grounds Music, and RCA Records. The record serves as a sequel from Rocky's previous studio effort Long. Live. ASAP (2013). The album's executive production was provided by Danger Mouse, mentor ASAP Yams and Rocky himself.</p>
            <a target="_blank" href="https://open.spotify.com/album/3arNdjotCvtiiLFfjKngMc?si=X-Wu3uBzQj-0Z_qZ2LvBsQ">Listen now!</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="" alt="500x500" src="/img/asap_rocky_alla.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">The House Is Burning <span class="text-muted small"> by Isaiah Rashad</span></h2>
            <p class="lead">The House Is Burning is the third studio album by American rapper Isaiah Rashad. It was released on July 30, 2021, by Top Dawg Entertainment and Warner Records. Guest appearances include frequent collaborators and labelmates Jay Rock and SZA, as well as Lil Uzi Vert, Duke Deuce, Smino, Amindi, 6lack, and others.</p>
            <a target="_blank" href="https://open.spotify.com/album/6TQ8nqw43uUOWu7Yqp58ko?si=FaUGEXgPT9OiqkeI3alm3g">Listen now!</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="" alt="500x500" src="/img/isaiahrashad_thib.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Die Lit <span class="text-muted small"> by Playboi Carti</span></h2>
            <p class="lead">Die Lit is the debut studio album by American rapper Playboi Carti. It was released on May 11, 2018, by AWGE Label and Interscope Records. The album features guest appearances from Skepta, Travis Scott, Lil Uzi Vert, Pi'erre Bourne, Nicki Minaj, Bryson Tiller, Chief Keef, Gunna, Red Coldhearted, Young Thug, and Young Nudy. The production on the album was mainly handled by Pi'erre Bourne, with assistance from Don Cannon and IndigoChildRick, among others.</p>
            <a target="_blank" href="https://open.spotify.com/album/7dAm8ShwJLFm9SaJ6Yc58O?si=bGFuhvO-T12TuwCPQ4ztzA">Listen now!</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="" alt="500x500" src="img/playboicarti_die_lit.webp" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="blog-footer" style="margin-top: 20px">
    <p>Website built by Noé Widmer and Dean Roth</p>
    <p>
        <a href="home">Back to home</a>
    </p>
</footer>
<!-- End of .container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
    $('#carouselFade').carousel();
</script>
</body>
</html>